body{
  padding-top: 3rem;
}
.logoFooter{
  width: 50%;
  height: auto;
}
.footerIndex{
  background-color: white;
  margin-bottom: 0;
}
.mainpg{
  padding-bottom: 3rem;
}
.mainTitle{
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}
.index1{
  background-color: #dbe2ef;
  margin-bottom: 0;
}
.index2{
  background-color: #f9f7f7;
  margin-bottom: 0;
}
.index3{
  background-color: #112d4e;
  color: white;
  margin-bottom: 0;
}
.index4{
  background-color: #3f72af;
  color: white;
  margin-bottom: 0;
}
.about1{
  background-color: #dbe2ef;
  margin-bottom: 0;
}
.about2{
  background-color: #f9f7f7;
  margin-bottom: 0;
}
.about3{
  background-color: #112d4e;
  color: white;
  margin-bottom: 0;
}
.about4{
  background-color: #3f72af;
  color: white;
  margin-bottom: 0;
}
.program1{
  background-color: #dbe2ef;
  margin-bottom: 0;
}
.program2{
  background-color: #f9f7f7;
  margin-bottom: 0;
}
.program3{
  background-color: #112d4e;
  color: white;
  margin-bottom: 0;
}
.program4{
  background-color: #3f72af;
  color: white;
  margin-bottom: 0;
}
.contact1{
  background-color: #dbe2ef;
  margin-bottom: 0;
}
.contact2{
  background-color: #f9f7f7;
  margin-bottom: 0;
}
.faq1{
  background-color: #dbe2ef;
  margin-bottom: 0;
}
.testimonial1{
  background-color: #dbe2ef;
  margin-bottom: 0;
}
.paraSpacing{
  padding-top: 2rem;
  line-height: 2rem;
}
.carouselCustom{
  height: 15rem;
}
.carouselPara{
  padding: 2rem;
}
.testimonialsPara{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.mainAbout{
  text-align: center;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 734px) {
  .lead{
    font-size: 1.25rem;
  }
  .carouselCustom{
    height: fit-content;
  }
  .index1{
    height: fit-content;
  }
  .index2{
    height: fit-content;
  }
  .index3{
    height: fit-content;
  }
  .index4{
    height: fit-content;
  }
  .about1{
    height: fit-content;
  }
  .about2{
    height: fit-content;
  }
  .about3{
    height: fit-content;
  }
  .about4{
    height: fit-content;
  }
  .program1{
    height: fit-content;
  }
  .program2{
    height: fit-content;
  }
  .program3{
    height: fit-content;
  }
  .program4{
    height: fit-content;
  }
  .contact1{
    height: fit-content;
  }
  .contact2{
    height: fit-content;
  }
  .faq1{
    height: fit-content;
  }
  .testimonial1{
    height: fit-content;
  }
  .carouselIndex{
    font-size: 1rem;
    font-weight: lighter;
    font-stretch: condensed;
  }
}
